:root {
  --black: hsl(349, 8%, 26%);
  --green: hsl(78, 69%, 50%);
  --blue: hsl(210, 77%, 57%);
  --purple: hsl(284, 79%, 24%);
  --orange: hsl(19, 95%, 64%);
  --white: #fff;
  --background: #f3f7f9;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-size: 1.2rem;
  font-family: 'Inconsolata', monospace;
}

* {
  color: var(--black);
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: '';
  padding-right: 10px;
  border-left: 6px solid var(--blue);
}

a {
  text-decoration: none;
  border-bottom: 3px solid var(--green);
}

p {
  line-height: 1.5rem;
}
